// body {
//   background-color:
// }

.customer {
  width: 200px;
  height: 400px;
  border-style: ridge;
  float: left;
  margin-right: 15px;
  text-align: center;


  img {
    width: 170px;
    height: 200px;
  }
}
