<header>
  <nav>
    <ul>
      <li><%= link_to 'All Customers', root_path %></li>
      <li><%= link_to 'Alphabetical Customers', alphabetical_path %></li>
      <li><%= link_to 'Customers with no email', no_email_path %></li>
    </ul>
  </nav>
</header>
